@import "theme-variables";

.home-content .options .option>div .icon{
  color: mix( $brand-secondary, white, 70% );
}
.home-content .options .option>div:hover .icon{
  color: $brand-secondary;
}

.home-content .expense-examples li a{
  color: $text-color;

  &:hover{
    text-decoration: underline;
  }
}

.budget-intro .budget-step h3 span{
  font-weight: bold;
  background: none !important;
}
.budget-intro .budget-step .desc{
  color: white;
  text-align: justify;
}

.social-sharing-toolbox li a{
  background-color: $brand-primary;
}

.panel-downloads{
  border-color: mix( $data-sources-color, white, 50% );
  background-color: mix( $data-sources-color, white, 50% );

  a{
    color: darken( $brand-terciary, 40% );

    &:hover{
      color: $brand-primary;
    }
  }
}

.form-search-glossary .btn-primary{
  border-color: darken( $brand-terciary, 30% );
  background-color: darken( $brand-terciary, 30% );
}
.form-search-glossary .form-control{
  border-color: darken( $brand-terciary, 30% );
}

.glossary-terms h3:before, .glossary-terms h4:before{
  color: $brand-primary;
}

.navbar-brand{
  font-size: 2.5em;

  a{
    color: $text-color;
  }

  strong{
    font-weight: $font-weight-600;
  }

  @media (min-width: $screen-sm-min) {
    margin-top: 0.075em;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-lg-min) {
    margin-left: 0.5em;
  }
}

header .logo-ue{
  display: block;
  margin-top: 20px;
  
  @media (min-width: $screen-sm-min) {
    position: absolute;
    right: $grid-gutter-width/2;
    top: 40px;
    margin-top: 0;
    z-index: 90;
  }
}

.logos-footer{
  padding: $grid-gutter-width 0;

  .logo-container{
    margin: 0 auto $grid-gutter-width;
    text-align: center;
  }

  .logo-container:last-child{
    margin-bottom: 0;
  }

  @media (min-width: $screen-sm-min) {
    .logo-container{
      float: left;
      margin: 0 $grid-gutter-width 0 0;
    }
    .logo-container:last-child{
      float: right;
      margin-top: $grid-gutter-width/2;
    }
  }
}

// Tax Receipt
.tax-receipt-content .form-user-incomings{
  padding-top: $grid-gutter-width/2;
  background: none;

  label{
    text-align: left;
    width: 100%;
  }

  .form-group{
    width: auto;
  }
}

.tax-receipt-content #tax-amount{
  border: none;
}

.tax-receipt .tax-note{
  padding: $grid-gutter-width/3;
  margin-bottom: $grid-gutter-width;
  text-align: center;
}

@media (min-width: $screen-sm-min) {

  .tax-receipt-content .form-user-incomings label{
    padding: 0 $grid-gutter-width/3;
    margin: 0;
    width: auto;
    vertical-align: middle;
    text-align: center;
  }
}

// Define policy description styles
.policy-description{
  font-size: 1em;
  padding: $grid-gutter-width/2 2*$grid-gutter-width/3 $grid-gutter-width/3;
  margin-top: $grid-gutter-width/2;
  margin-right: 2*$grid-gutter-width/3;
  margin-left: 80px;
  margin-bottom: 0;
  background: $page-header-bg;

  a{
    font-weight: $font-weight-600;
  }
}
