@import "theme-variables";

.home-content .options .option>div .icon{
  color: mix( $brand-secondary, white, 70% );
}
.home-content .options .option>div:hover .icon{
  color: $brand-secondary;
}

.social-sharing-toolbox li a{
  background-color: $brand-primary;
}

.panel-downloads{
  border-color: mix( $data-sources-color, white, 50% );
  background-color: mix( $data-sources-color, white, 50% );

  a{
    color: darken( $brand-terciary, 40% );

    &:hover{
      color: $brand-primary;
    }
  }
}

.form-search-glossary .btn-primary{
  border-color: darken( $brand-terciary, 30% );
  background-color: darken( $brand-terciary, 30% );
}
.form-search-glossary .form-control{
  border-color: darken( $brand-terciary, 30% );
}

.glossary-terms h3:before, .glossary-terms h4:before{
  color: $brand-primary;
}

.navbar-brand{
  font-size: 2.5em;

  a{
    color: $text-color;
  }

  strong{
    font-weight: $font-weight-600;
  }

  @media (min-width: $screen-sm-min) {
    margin-top: 0.075em;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-lg-min) {
    margin-left: 0.5em;
  }
}

.logos-footer{
  padding: $grid-gutter-width 0;

  .logo-container{
    margin: 0 auto $grid-gutter-width;
    text-align: center;
  }

  .logo-container:last-child{
    margin-bottom: 0;
  }

  @media (min-width: $screen-sm-min) {
    .logo-container{
      float: left;
      margin: 0 $grid-gutter-width 0 0;
    }
  }
}