<script>
  $(function () {
    var totalTaxPaid = 0;

    // Display amount as expense per capita
    function calculatePersonalTax(value, type, item) {
      if (value == null) return null;
      if (type === 'filter') return value;  // We filter based on the raw data

      var percentage = value / getBreakdownValue(item.root);
      return formatDecimal(percentage * totalTaxPaid) + " €";
    }

    function formatTaxAmount(value, decimals) {
      var format = (decimals == false) ? '0,0' : '0,0.00';
      return numeral(value).format( format, Math.floor ) + " €";
    }

    function calculateTaxAmount(val){

      // get input placeholder if empty value
      val = (val !== '') ? val : $('#input-incomes').attr('placeholder');

      // set income amount
      $('#income-amount').html( formatTaxAmount(val, false) );

      // Aplicamos la tarifa del IRPF de 2016
      var cuota_integra_irpf = 0;
      cuota_integra_irpf += Math.min(Math.max(val, 0), 12450) * 0.19;
      cuota_integra_irpf += Math.min(Math.max(val-12450, 0), 20200-12450) * 0.24;
      cuota_integra_irpf += Math.min(Math.max(val-20200, 0), 35200-20200) * 0.30;
      cuota_integra_irpf += Math.min(Math.max(val-35200, 0), 60000-35200) * 0.37;
      cuota_integra_irpf += Math.max(val-60000, 0) * 0.45;

      // calculate regional part: 50% of total
      val = cuota_integra_irpf * .50;

      return val;
    }

    function redrawGrid(e) {
      if(e){
        e.preventDefault();
      }

      totalTaxPaid = calculateTaxAmount($('#input-incomes').val());
      
      $('#tax-amount-paid').html( formatTaxAmount(totalTaxPaid) );

      if ( myGrid !== undefined )  myGrid.destroy();
      myGrid = createBudgetGrid("#myGrid", gridData, [
        { data: "label", title: '{{ _("Política") }}', render: getPolicyLinkFormatter() },
        {
          data: getBreakdownValue,
          title: '{{ _("Gasto") }}',
          render: calculatePersonalTax,
          year: breakdown.years['{{ latest_budget.name()|safe }}']
        }
      ]);
    }

    var breakdown = {{ breakdown.to_json( labels=descriptions['functional'] )|safe }};
    var gridData = breakdownToTable(breakdown);
    var getBreakdownValue = getBreakdownValueFunction('expense', '{{ latest_budget.name()|safe }}');
    var myGrid;

    $("#tax-receipt-form").submit(redrawGrid);
    $("#input-incomes").change(redrawGrid);
    redrawGrid();
  })
</script>